header{
	width: 85%;
	height: 200px;
	border: 5px double #827717;
	border-radius: 5px;
	background: #100F0F;
	margin: 10px auto  0px;
}
header img{
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-top: 25px;
	margin-left: 50px;
	position: absolute;
}
header h1{
	display: inline-block;
	margin-left: 0px;
	margin-top: 70px;
	position: absolute;
	color: #2E7D32;
	font-size: 4em;
	font-family: 'Josefin Sans', sans-serif;
	cursive;
	text-shadow:2px 4px 4px #827717;
	transition-property:color , text-shadow;
	transition-duration:1s,1.5s;
	-webkit-transition:color 1s;
	-moz-transition:color 1s;
}
body {
	background-image: url("img1.jpg");
}
body h2{
	
	font-family: 'Righteous',cursive;
	text-shadow:2px 4px 4px #E8EAF6;
	transition-property:color , text-shadow;
	transition-duration:1s,1.5s;
	-webkit-transition:color 1s;
	-moz-transition:color 1s;
}
body p{

}
nav{
	width: 100%;
	height: 30px;
	margin-left: 10px auto 0px;
	padding: 0px;
	text-align: center;
}
nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
nav ul >li{
display: inline-block;
width: 160px;
height: 25px;
border: 1px solid #827717;
text-align: center;
padding-top: 5px;
background: #000000;
font-size: 1em;
font-family: 'Hammersmith One', sans-serif;
color: #1B5E20;
text-shadow:2px 4px 4px #827717;
transition-property:background,color;
transition-duration:2s,2s;
}
nav ul >li:hover{
	background: #AFB42B;
	letter-spacing: 2px;
}
nav >ul >li a{
	text-decoration: none;
	color: #1B5E20;
}
nav ul li ul{
	position: absolute;
	display: none;
}
nav ul li ul li{
	display: block;
}
nav ul li:hover ul{
	display: block;
	margin-top: 4px;
	background: #E8EAF6;
}
#contenido{
	width: 85%;
	height: auto;
	margin:0px auto 0px;
}
#contenido h2{

	color: #689F38;
	font-size: 2em;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	text-shadow:2px 4px 4px #9FA8DA;
}
#contenido p{
	color: #689F38;
	font-size: 1em;
	font-family: 'Passion One', cursive;
	text-align: justify;
	font-weight: bold;
}
#contenido section fieldset legend{
	color: #E8EAF6;
}
#contenido section {
background-image: url("img5.jpg");
 

}
#contenido label{
	color:#9FA8DA;
}
#sitio section {
background-image: url("img5.jpg");
 }
 #sitio{
	width: 90%;
	height: auto;
	margin:0px auto 0px;
}
#sitio section article h2{
	color: #689F38;
	font-size: 2em;
	font-family: 'Shrikhand', cursive;
	text-align: center;
	text-shadow:2px 4px 4px #9FA8DA;
	}
#sitio h2{
	color: #303F9F;
	font-size: 2em;
	font-family: 'Shrikhand', cursive;
	text-align: center;
	text-shadow:2px 4px 4px #9FA8DA;
}
#sitio section article p{
	color: #33691E;
	font-size: 1em;
	font-family: 'Amaranth', sans-serif;
	text-align: justify;
	font-weight: bold;
}
#sitio section fieldset legend{
	color: #E8EAF6;
}
#entradas article h3{
	color:#9FA8DA ;
}
#entradas article ul li{
	color: #9FA8DA;
	}
hr{
	width: 900px;
	height: 10px;
	background: #B71CLC;
	border-radius: 5px;
}
#abo section{
	background:  #DCE775;

}
#abo section fieldset legend{
color: #303F9F;
	font-size: 2em;
	font-family: 'Shrikhand', cursive;
	text-align: center;
	text-shadow:2px 4px 4px #9FA8DA;
}
#abo section  p{
color: #33691E;
	font-size: 1em;
	font-family: 'Amaranth', sans-serif;
	text-align: justify;
	font-weight: bold;
}
#red section{
	background:  #100F0F;

}

https://leaverou.github.io/prefixfree/css
gist.github.com/OscarAbadFolgueria/f4dbb82
codeigniter.com/user_guide/installation/index.html